In [2]:
import numpy as np
import pandas as pd
import unicodecsv
import matplotlib.pyplot as plt

dir = "./"


records = pd.read_csv(dir+"globalterrorismdb_0617dist.csv",encoding='ISO-8859-1',usecols=[ 1,8, 13, 14, 100,103])

print len(records)
print records.head()

170350
   iyear         country_txt   latitude   longitude  nkillter  nwoundte
0   1970  Dominican Republic  18.456792  -69.951164       NaN       NaN
1   1970              Mexico  19.432608  -99.133207       NaN       NaN
2   1970         Philippines  15.478598  120.599741       NaN       NaN
3   1970              Greece  37.983773   23.728157       NaN       NaN
4   1970               Japan  33.580412  130.396361       NaN       NaN

In [3]:
lat = records.groupby(['iyear','country_txt']).agg('mean')['latitude'].reset_index()
lon = records.groupby(['iyear','country_txt']).agg('mean')['longitude'].reset_index()

kill = records.groupby(['iyear','country_txt']).agg('sum')['nkillter'].reset_index()
wound = records.groupby(['iyear','country_txt']).agg('sum')['nwoundte'].reset_index()
counts = records.groupby(['iyear','country_txt']).size().rename('counts').reset_index()



print lat.__class__
tt =lat.merge(lon, on=['iyear','country_txt'])
tt = tt.merge(kill, on=['iyear','country_txt'])
tt = tt.merge(wound, on=['iyear','country_txt'])
tt = tt.merge(counts, on=['iyear','country_txt'])
tt['severe'] = tt.fillna(0)['counts']+ tt.fillna(0)['nkillter']+tt.fillna(0)['nwoundte']
tt = tt.drop('counts', 1)
print len(tt)
tt = tt.sort(['iyear', 'severe'], ascending=[1, 1])
print tt
tt.to_csv("terror.csv")

<class 'pandas.core.frame.DataFrame'>
3648
      iyear                       country_txt   latitude   longitude  \
1      1970                         Australia -37.813187  144.962980
2      1970                           Belgium  50.850335    4.351685
3      1970                           Bolivia        NaN         NaN
6      1970                          Colombia   5.059097  -75.505960
9      1970                             Egypt  31.198056   29.919167
14     1970                           Ireland  53.344104   -6.267494
19     1970                           Lebanon  33.888629   35.495479
22     1970                         Nicaragua  12.136389  -86.251389
23     1970                          Pakistan  24.893379   67.028061
24     1970                          Paraguay -25.282773  -57.635610
5      1970                            Canada  46.803137  -71.241298
7      1970                Dominican Republic  18.456792  -69.951164
15     1970                            Israel  32.085688   34.783684
17     1970                             Japan  33.580412  130.396361
20     1970                            Mexico  19.432608  -99.133207
21     1970                       Netherlands  52.370216    4.895168
32     1970                         Venezuela  10.283234  -68.125988
10     1970                          Ethiopia        NaN         NaN
16     1970                             Italy  41.890520   12.494249
27     1970                       Switzerland  46.978564    7.740220
12     1970                         Guatemala  14.624422  -90.532880
26     1970                             Spain  43.019561   -2.229568
11     1970                            Greece  37.980711   23.720484
13     1970                              Iran  35.696442   51.422974
4      1970                            Brazil -21.726279  -43.719788
18     1970                            Jordan  31.903614   35.840766
25     1970                       Philippines  14.625092  120.984991
8      1970                East Germany (GDR)  52.516667   13.400000
28     1970                            Turkey  39.885205   32.062632
29     1970                    United Kingdom  54.103960   -5.251001
...     ...                               ...        ...         ...
3592   2016                             Kenya   0.250885   40.497161
3555   2016                           Burundi  -3.402676   29.439773
3641   2016                           Ukraine  48.707589   34.247590
3562   2016                          Colombia   6.387073  -73.542437
3619   2016                            Russia  45.117711   46.899704
3605   2016                        Mozambique -18.014641   35.206026
3642   2016                    United Kingdom  54.389700   -5.503394
3550   2016                        Bangladesh  23.741538   90.093238
3606   2016                           Myanmar  21.870019   95.485719
3610   2016                             Niger  14.372159    9.453443
3602   2016                              Mali  16.187306   -2.302935
3556   2016                          Cameroon  11.308309   14.276554
3621   2016                      Saudi Arabia  19.349279   44.177737
3630   2016                             Sudan  12.814963   24.922526
3646   2016          West Bank and Gaza Strip  31.832868   35.163683
3565   2016  Democratic Republic of the Congo  -0.210379   28.460287
3637   2016                          Thailand   6.792985  101.283933
3627   2016                       South Sudan   5.675965   30.394065
3598   2016                             Libya  31.562323   17.547271
3568   2016                             Egypt  30.938504   33.629662
3639   2016                            Turkey  38.019019   39.509833
3616   2016                       Philippines   9.532613  123.387043
3611   2016                           Nigeria   8.467580    9.182669
3647   2016                             Yemen  13.998508   44.927782
3612   2016                          Pakistan  30.824264   69.178003
3581   2016                             India  24.444751   83.221160
3624   2016                           Somalia   2.683874   44.794077
3633   2016                             Syria  35.615099   37.300294
3540   2016                       Afghanistan  34.203792   67.141973
3584   2016                              Iraq  33.937631   43.906316

      nkillter  nwoundte  severe
1          NaN       NaN     1.0
2          NaN       NaN     1.0
3          NaN       NaN     1.0
6          NaN       NaN     1.0
9          NaN       NaN     1.0
14         NaN       NaN     1.0
19         NaN       NaN     1.0
22         NaN       NaN     1.0
23         NaN       NaN     1.0
24         NaN       NaN     1.0
5          NaN       NaN     2.0
7          NaN       NaN     2.0
15         1.0       0.0     2.0
17         0.0       0.0     2.0
20         NaN       NaN     2.0
21         0.0       0.0     2.0
32         NaN       NaN     2.0
10         NaN       NaN     3.0
16         0.0       0.0     3.0
27         0.0       0.0     3.0
12         NaN       NaN     4.0
26         NaN       NaN     4.0
11         2.0       0.0     5.0
13         NaN       NaN     5.0
4          0.0       0.0     6.0
18         NaN       NaN     9.0
25         NaN       NaN    10.0
8          NaN       NaN    12.0
28         NaN       NaN    12.0
29         6.0       NaN    18.0
...        ...       ...     ...
3592      15.0       2.0    82.0
3555       2.0       0.0    85.0
3641      25.0       0.0    85.0
3562       2.0       0.0    87.0
3619      43.0       0.0    97.0
3605      20.0       0.0    98.0
3642       0.0       1.0   105.0
3550      17.0       1.0   106.0
3606      32.0       0.0   106.0
3610      61.0      24.0   108.0
3602      19.0       5.0   122.0
3556      70.0       0.0   124.0
3621      70.0      31.0   225.0
3630      72.0       2.0   247.0
3646      78.0      22.0   257.0
3565     113.0       1.0   283.0
3637       2.0       1.0   332.0
3627     373.0       2.0   434.0
3598     107.0       0.0   524.0
3568     239.0      49.0   653.0
3639     155.0      28.0   723.0
3616      58.0      56.0   747.0
3611     405.0       5.0   941.0
3647     436.0      48.0  1005.0
3612     147.0      12.0  1020.0
3581      81.0       8.0  1108.0
3624     516.0      34.0  1140.0
3633     713.0      30.0  1215.0
3540    3568.0    2097.0  7280.0
3584    3949.0     191.0  7496.0

[3648 rows x 7 columns]

/Users/meixian/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:18: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)